<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <lu>
          <li><%= link_to "ホーム", tweets_path %></li>
          <li><%= link_to "Tweetを投稿する", new_tweet_path %></li>
        </lu>
      </header>
        <%= yield %>
      <footer>
         <p>Copyright © 2019 AGURU All RIGHTS RESERVED.</p>
      </footer>
    </div>
  </body>
</html>
